services:
  minio:
    image: minio/minio
    container_name: minio_service
    restart: always
    command: server /data --console-address ":9001"
    env_file: .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - '9000:9000' # API
      - '9001:9001' # Web console
    volumes:
      - ./data:/data # nơi lưu file thực tế
